
*.pyc
garbage_can.py
garbage_can_2.py
.idea/ComputerVisionMFGM.iml
.idea/misc.xml
*.jpg
training.log
trainingData.csv
trainingData.json
validationData.csv
validationData.json
trainingData.csv
trainingData.json
.idea/ComputerVisionMFGM.iml
.idea/misc.xml
trainedModels/multiTaskModel_tasktolabelsmap.json
