garbage_can.py
garbage_can_2.py
training.log
trainingData.csv
trainingData.json
validationData.csv
validationData.json
trainingData.csv
trainingData.json
README.md.bak
.idea
__pycache__
.ipynb_checkpoints
trainedModels
logs
graphs
train_images
validation_images
